body {
    background-color: gray;
    color: white;
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}

h1 {
    font-size: 39px;
}

h2 {
    font-size: 28px;
}

li {
    font-size: 24px;
    list-style-type: none;
}

a {
    color: aquamarine;
    text-decoration: none;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}