body {
    background-color: rgb(18, 29, 65);
}

h1 {
    color: white;
    font-size: 48px;
    text-align: center;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    z-index: 1; 
}

.webgl {
    position: sticky;
    top: 0;
    left: 0;
    outline: none;
    z-index: 2;
}

.essay {
    color: white;
    font-size: 24 px;
    width: 100%;
}

.clickable {
    color: yellow;
    cursor: grab;
}

clickable:hover {
    color: white;
}